.card-image img{
    /* height: 100px;
    width: auto; */
    width: 100%;
    height: auto;
}
.card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;   
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 10;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 5px;
}
.footer div a{
   text-decoration: none;
}
.footer .button{
    background-color: mediumslateblue;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
}